@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
}

main.restaurantMenu button, header .headerIntro button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

header .headerIntro button:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

main.restaurantMenu button, header .headerIntro button {
  padding: 13px 18.5px;
  height: 50px;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

main.restaurantList article button {
  padding: 7px 9px;
  border: none;
  border-radius: 2px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

section.sectionHowItWorks .sectionHowItWorksList .sectionNumber .numberCircle, section.sectionHowItWorks .sectionHowItWorksList .sectionNumber, section.sectionHowItWorks .sectionHowItWorksList, header .headerLocalisation, nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Page */
main.restaurantList article {
  position: relative;
  height: 251px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 18px;
}
main.restaurantList article a {
  text-decoration: none;
}
main.restaurantList article img {
  width: 100%;
  height: 68%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
main.restaurantList article button {
  position: absolute;
  top: 15px;
  right: 15px;
}
main.restaurantList article .restaurantDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 25px 12px 13px;
  color: #000000;
}
main.restaurantList article .restaurantDetails h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}
main.restaurantList article .restaurantDetails p {
  margin: 0;
  font-weight: 300;
  margin-top: 5px;
}
main.restaurantList article .restaurantDetails i {
  font-size: 22px;
  color: #000000;
}

nav {
  height: 63px;
  padding: 14px 89px;
  position: relative;
  /* Page restaurant */
}
nav a {
  color: #353535;
}
nav div i {
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 20px;
}

nav img {
  margin-right: auto;
  margin-left: auto;
  width: 197px;
  height: 36px;
  display: block;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
}
footer svg path {
  fill: #FFFFFF;
}
footer .footerMenu {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
}
footer .footerMenu li {
  margin-bottom: 7px;
}
footer .footerMenu i {
  margin-right: 9px;
}
footer .footerMenu .footerMenuThin {
  font-weight: 400;
}

header .headerLocalisation {
  padding: 15.5px 118.5px;
  background-color: #EAEAEA;
}
header .headerLocalisation i {
  color: #353535;
  margin-right: 17px;
}
header .headerLocalisation p {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
header .headerIntro {
  background-color: #F7F7F7;
  padding: 39px 26px 57px 34px;
  text-align: center;
}
header .headerIntro div {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}
header .headerIntro h1 {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.9px;
}
header .headerIntro button {
  margin-top: 27px;
}
section.sectionHowItWorks {
  padding: 48px 20px 68px 20px;
}
section.sectionHowItWorks h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 26px 0;
}
section.sectionHowItWorks .sectionHowItWorksList {
  position: relative;
  border-radius: 20px;
  height: 72px;
  width: 322px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 24.9px;
  margin-right: auto;
  margin-left: auto;
}
section.sectionHowItWorks .sectionHowItWorksList .sectionNumber {
  position: absolute;
  left: -12px;
  top: 50%;
  bottom: 50%;
}
section.sectionHowItWorks .sectionHowItWorksList .sectionNumber .numberCircle {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
}
section.sectionHowItWorks .sectionHowItWorksList .sectionNumber .number {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
section.sectionHowItWorks .sectionHowItWorksList h3 {
  font-weight: 500;
  margin: 0;
}
section.sectionHowItWorks .sectionHowItWorksList .sectionIcon {
  margin-right: 27px;
}
section.sectionHowItWorks .sectionHowItWorksList i {
  display: block;
  color: #7E7E7E;
  font-size: 16px;
}

main.restaurantList {
  background-color: #F7F7F7;
  padding: 54px 18px 66px 18px;
}
main.restaurantList h2 {
  font-weight: 700;
  font-size: 24px;
}

/* Header */
header .headerPicture img {
  height: 275px;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

main.restaurantMenu {
  background-color: #F6F6F6;
  padding: 32px 17px 40px 17px;
  margin-top: -55px;
  position: relative;
  z-index: 2;
  border-radius: 50px 50px 0 0;
  /* Section Entrée */
  /* Section Plat */
  /* Section Dessert */
  /* Bouton commander */
}
main.restaurantMenu .restaurantTitle {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
main.restaurantMenu .restaurantTitle h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
main.restaurantMenu .restaurantTitle i {
  margin-left: 30px;
  font-size: 22px;
}
main.restaurantMenu article .restaurantMenuEntree {
  margin-bottom: 40px;
}
main.restaurantMenu article .restaurantMenuEntree h2 {
  font-weight: 300;
  font-size: 16px;
}
main.restaurantMenu article .restaurantMenuEntree hr {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  box-shadow: none;
  text-align: left;
  margin: -5px 0 12px 0;
}
main.restaurantMenu article .restaurantMenuEntree .restaurantMenuEntreeElement {
  background-color: #FFFFFF;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 13.5px 15px;
  margin-bottom: 12px;
}
main.restaurantMenu article .restaurantMenuEntree .restaurantMenuEntreeElement h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuEntree .restaurantMenuEntreeElement p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuEntree .restaurantMenuEntreeElement .entreeDescriptifPrix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
main.restaurantMenu article .restaurantMenuEntree .restaurantMenuEntreeElement .entreeDescriptifPrix .entreePrix {
  font-weight: 700;
  margin-left: 20px;
  background-color: #FFFFFF;
}
main.restaurantMenu article .restaurantMenuPlat {
  margin-bottom: 40px;
}
main.restaurantMenu article .restaurantMenuPlat h2 {
  font-weight: 300;
  font-size: 16px;
}
main.restaurantMenu article .restaurantMenuPlat hr {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  box-shadow: none;
  text-align: left;
  margin: -5px 0 12px 0;
}
main.restaurantMenu article .restaurantMenuPlat .restaurantMenuPlatElement {
  background-color: #FFFFFF;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 13.5px 15px;
  margin-bottom: 12px;
}
main.restaurantMenu article .restaurantMenuPlat .restaurantMenuPlatElement h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuPlat .restaurantMenuPlatElement p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuPlat .restaurantMenuPlatElement .platDescriptifPrix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
main.restaurantMenu article .restaurantMenuPlat .restaurantMenuPlatElement .platDescriptifPrix .platPrix {
  font-weight: 700;
  margin-left: 20px;
}
main.restaurantMenu article .restaurantMenuDessert {
  margin-bottom: 40px;
}
main.restaurantMenu article .restaurantMenuDessert h2 {
  font-weight: 300;
  font-size: 16px;
}
main.restaurantMenu article .restaurantMenuDessert hr {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  box-shadow: none;
  text-align: left;
  margin: -5px 0 12px 0;
}
main.restaurantMenu article .restaurantMenuDessert .restaurantMenuDessertElement {
  background-color: #FFFFFF;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 13.5px 15px;
  margin-bottom: 12px;
}
main.restaurantMenu article .restaurantMenuDessert .restaurantMenuDessertElement h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuDessert .restaurantMenuDessertElement p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
main.restaurantMenu article .restaurantMenuDessert .restaurantMenuDessertElement .dessertDescriptifPrix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
main.restaurantMenu article .restaurantMenuDessert .restaurantMenuDessertElement .dessertDescriptifPrix .dessertPrix {
  font-weight: 700;
  margin-left: 20px;
}
main.restaurantMenu button {
  padding: 16px 48px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Page restaurant - Animation select plat */
/* SECTION ENTREE */
.restaurantMenuEntreeElement {
  position: relative;
  overflow: hidden;
  /* Placer un label transparent sur la case à cocher pour la rendre cliquable */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection. 
  On décale seulement l'entreePrix vers la gauche */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
}
.restaurantMenuEntreeElement .selectItem {
  display: none;
}
.restaurantMenuEntreeElement .selectLabel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
.restaurantMenuEntreeElement #selectSection {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 15px;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.restaurantMenuEntreeElement #selectSection i {
  color: #FFFFFF;
}
.restaurantMenuEntreeElement .entreePrix {
  transition: transform 0.4s ease;
  height: 100%;
}
.restaurantMenuEntreeElement .selectItem:checked ~ #selectSection {
  width: 59px;
}
.restaurantMenuEntreeElement #checkboxEntree1:checked ~ .entreeDescriptifPrix .entreePrix {
  transform: translateX(-59px);
}
.restaurantMenuEntreeElement #checkboxEntree1:checked ~ .entreeDescriptifPrix .entreePrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuEntreeElement #checkboxEntree2:checked ~ .entreeDescriptifPrix .entreePrix {
  transform: translateX(-59px);
  /* On décale seulement l'entreePrix vers la gauche */
}
.restaurantMenuEntreeElement #checkboxEntree2:checked ~ .entreeDescriptifPrix .entreePrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuEntreeElement #checkboxEntree3:checked ~ .entreeDescriptifPrix .entreePrix {
  transform: translateX(-59px);
  /* On décale seulement l'entreePrix vers la gauche */
}
.restaurantMenuEntreeElement #checkboxEntree3:checked ~ .entreeDescriptifPrix .entreePrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}

/* Page restaurant - Animation select plat */
/* SECTION PLATS */
.restaurantMenuPlatElement {
  position: relative;
  overflow: hidden;
  /* Placer un label transparent sur la case à cocher pour la rendre cliquable */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection. 
  On décale seulement l'PlatPrix vers la gauche */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
}
.restaurantMenuPlatElement .selectItem {
  display: none;
}
.restaurantMenuPlatElement .selectLabel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
.restaurantMenuPlatElement #selectSection {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 15px;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.restaurantMenuPlatElement #selectSection i {
  color: #FFFFFF;
}
.restaurantMenuPlatElement .platPrix {
  transition: transform 0.4s ease;
  height: 100%;
}
.restaurantMenuPlatElement .selectItem:checked ~ #selectSection {
  width: 59px;
}
.restaurantMenuPlatElement #checkboxPlat1:checked ~ .platDescriptifPrix .platPrix {
  transform: translateX(-59px);
}
.restaurantMenuPlatElement #checkboxPlat1:checked ~ .platDescriptifPrix .platPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuPlatElement #checkboxPlat2:checked ~ .platDescriptifPrix .platPrix {
  transform: translateX(-59px);
  /* On décale seulement l'PlatPrix vers la gauche */
}
.restaurantMenuPlatElement #checkboxPlat2:checked ~ .platDescriptifPrix .platPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuPlatElement #checkboxPlat3:checked ~ .platDescriptifPrix .platPrix {
  transform: translateX(-59px);
  /* On décale seulement l'PlatPrix vers la gauche */
}
.restaurantMenuPlatElement #checkboxPlat3:checked ~ .platDescriptifPrix .platPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}

/* Page restaurant - Animation select Dessert */
/* SECTION DESSERTS */
.restaurantMenuDessertElement {
  position: relative;
  overflow: hidden;
  /* Placer un label transparent sur la case à cocher pour la rendre cliquable */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection. 
  On décale seulement l'DessertPrix vers la gauche */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
  /* Sélecteur pour appliquer l'animation à l'élément en cours de sélection */
  /* Ajout du fond blanc derrière le prix */
}
.restaurantMenuDessertElement .selectItem {
  display: none;
}
.restaurantMenuDessertElement .selectLabel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
.restaurantMenuDessertElement #selectSection {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 15px;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.restaurantMenuDessertElement #selectSection i {
  color: #FFFFFF;
}
.restaurantMenuDessertElement .dessertPrix {
  transition: transform 0.4s ease;
  height: 100%;
}
.restaurantMenuDessertElement .selectItem:checked ~ #selectSection {
  width: 59px;
}
.restaurantMenuDessertElement #checkboxDessert1:checked ~ .dessertDescriptifPrix .dessertPrix {
  transform: translateX(-59px);
}
.restaurantMenuDessertElement #checkboxDessert1:checked ~ .dessertDescriptifPrix .dessertPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuDessertElement #checkboxDessert2:checked ~ .dessertDescriptifPrix .dessertPrix {
  transform: translateX(-59px);
  /* On décale seulement l'DessertPrix vers la gauche */
}
.restaurantMenuDessertElement #checkboxDessert2:checked ~ .dessertDescriptifPrix .dessertPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}
.restaurantMenuDessertElement #checkboxDessert3:checked ~ .dessertDescriptifPrix .dessertPrix {
  transform: translateX(-59px);
  /* On décale seulement l'DessertPrix vers la gauche */
}
.restaurantMenuDessertElement #checkboxDessert3:checked ~ .dessertDescriptifPrix .dessertPrix::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -13px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4668461134) 0%, rgb(255, 255, 255) 21%, rgb(255, 255, 255) 100%);
  z-index: -1;
  width: 75px;
  height: 72px;
}

article .restaurantDetails .likeButtonSection {
  position: relative;
  /* Quand l'icône est coché */
  /* Quand l'icône n'est pas coché */
  /* BOUTON 2 */
  /* Quand l'icône est coché */
  /* Quand l'icône n'est pas coché */
  /* BOUTON 3 */
  /* Quand l'icône est coché */
  /* Quand l'icône n'est pas coché */
  /* BOUTON 4 */
  /* Quand l'icône est coché */
  /* Quand l'icône n'est pas coché */
}
article .restaurantDetails .likeButtonSection input {
  display: none;
}
article .restaurantDetails .likeButtonSection label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
article .restaurantDetails .likeButtonSection input#likeButton1:checked ~ .emptyHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton1:checked ~ .fullHeart {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
article .restaurantDetails .likeButtonSection input#likeButton1:not(:checked) ~ .emptyHeart {
  display: inline-block;
}
article .restaurantDetails .likeButtonSection input#likeButton1:not(:checked) ~ .fullHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton2:checked ~ .emptyHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton2:checked ~ .fullHeart {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
article .restaurantDetails .likeButtonSection input#likeButton2:not(:checked) ~ .emptyHeart {
  display: inline-block;
}
article .restaurantDetails .likeButtonSection input#likeButton2:not(:checked) ~ .fullHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton3:checked ~ .emptyHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton3:checked ~ .fullHeart {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
article .restaurantDetails .likeButtonSection input#likeButton3:not(:checked) ~ .emptyHeart {
  display: inline-block;
}
article .restaurantDetails .likeButtonSection input#likeButton3:not(:checked) ~ .fullHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton4:checked ~ .emptyHeart {
  display: none;
}
article .restaurantDetails .likeButtonSection input#likeButton4:checked ~ .fullHeart {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
article .restaurantDetails .likeButtonSection input#likeButton4:not(:checked) ~ .emptyHeart {
  display: inline-block;
}
article .restaurantDetails .likeButtonSection input#likeButton4:not(:checked) ~ .fullHeart {
  display: none;
}

main.restaurantMenu .likeButtonSection {
  position: relative;
  /* Quand l'icône est coché */
  /* Quand l'icône n'est pas coché */
}
main.restaurantMenu .likeButtonSection input {
  display: none;
}
main.restaurantMenu .likeButtonSection label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
main.restaurantMenu .likeButtonSection input#likeButton:checked ~ .emptyHeart {
  display: none;
}
main.restaurantMenu .likeButtonSection input#likeButton:checked ~ .fullHeart {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
main.restaurantMenu .likeButtonSection input#likeButton:not(:checked) ~ .emptyHeart {
  display: inline-block;
}
main.restaurantMenu .likeButtonSection input#likeButton:not(:checked) ~ .fullHeart {
  display: none;
}

/*# sourceMappingURL=style.css.map */
